@charset "UTF-8";
html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "LiHei Pro", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial ,sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  background-color: #921011; }

img {
  max-width: 100%;
  height: auto; }

#detect-modal p {
  font-size: 1.6em; }

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .popup .popup_test {
    z-index: 100;
    position: relative;
    top: 36px; }
    .popup .popup_test .red {
      width: 80%;
      max-width: 500px;
      position: relative;
      margin: 0 auto; }
      .popup .popup_test .red .red-paper {
        position: absolute;
        left: 50%;
        top: 0%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 10px;
        width: 80%;
        text-align: center; }
        @media (max-width: 375px) {
          .popup .popup_test .red .red-paper {
            padding: 8px; } }
        .popup .popup_test .red .red-paper h5 {
          position: absolute;
          left: 50%;
          top: -36px;
          font-size: 2.4em;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%;
          color: #fff; }
          @media (max-width: 375px) {
            .popup .popup_test .red .red-paper h5 {
              font-size: 2.2em;
              top: -32px; } }
        .popup .popup_test .red .red-paper p {
          margin: 5px 0 80px 0;
          font-size: 1.4em; }
          @media (min-width: 640px) {
            .popup .popup_test .red .red-paper p {
              font-size: 1.6em; } }
        .popup .popup_test .red .red-paper .serial-area {
          padding: 10px -10px;
          margin-bottom: 10px; }
          .popup .popup_test .red .red-paper .serial-area h6 {
            font-size: 1.8em;
            margin: 10px 0 10px 0; }
          .popup .popup_test .red .red-paper .serial-area .serial {
            background-color: #9b9b9b;
            color: #fff;
            padding: 8px 5px;
            margin-bottom: 10px; }
            .popup .popup_test .red .red-paper .serial-area .serial p {
              font-size: 1.6em;
              margin: 0; }
          .popup .popup_test .red .red-paper .serial-area p#deadline {
            margin: 0;
            font-size: 1.4em;
            word-break: break-all; }
      .popup .popup_test .red .red-btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 10px;
        width: 85%;
        text-align: center; }
        .popup .popup_test .red .red-btn button {
          width: 100%;
          margin-bottom: 10px;
          font-weight: bold;
          border-radius: 50px;
          padding: 6px 14px;
          font-size: 1.6em; }
          @media (max-width: 375px) {
            .popup .popup_test .red .red-btn button {
              padding: 4px 14px; } }
          .popup .popup_test .red .red-btn button#popbtn-up, .popup .popup_test .red .red-btn button#popbtn-copy {
            color: #dc2029;
            background-color: #ffc010;
            border: 2px solid #ffc010; }
            @media (max-width: 320px) {
              .popup .popup_test .red .red-btn button#popbtn-up, .popup .popup_test .red .red-btn button#popbtn-copy {
                font-size: 1.4em; } }
          .popup .popup_test .red .red-btn button#popbtn-down {
            background-color: rgba(255, 255, 255, 0);
            border: 2px solid #ffc010;
            color: #ffc010; }
            @media (max-width: 320px) {
              .popup .popup_test .red .red-btn button#popbtn-down {
                font-size: 1.4em; } }
  .popup .popbg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10; }
    .popup .popbg img {
      width: 100%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      position: absolute;
      left: 50%;
      top: 0%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media (min-width: 768px) {
        .popup .popbg img {
          width: 578px; } }
    .popup .popbg img:nth-of-type(2) {
      position: absolute;
      left: 50%;
      top: 77%;
      -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
      transform: translateX(-50%) rotate(180deg); }

header {
  z-index: 130;
  width: 100%;
  height: 72px;
  background-color: #ea8ca4;
  text-align: center; }
  header img {
    height: 100%; }

main .container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  max-width: 540px;
  margin: 0 auto;
  background: url("../img/bg_pattern2.jpg") repeat top center;
  background-size: 100%;
  background-position: 0% bottom;
  padding: 0; }
  main .container .wrapper {
    height: 100%;
    position: relative;
    padding-bottom: 20px; }
    main .container .wrapper .light img {
      opacity: 0;
      width: 20px;
      position: absolute;
      pointer-events: none;
      left: 0%;
      top: -10%;
      z-index: 115; }
      @media (min-width: 768px) {
        main .container .wrapper .light img {
          width: 30px;
          left: 0; } }
    main .container .wrapper .deco {
      height: 100%;
      position: absolute; }
      main .container .wrapper .deco img:nth-of-type(2) {
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translate(-50%, 0) rotate(180deg);
        -ms-transform: translate(-50%, 0) rotate(180deg);
        transform: translate(-50%, 0) rotate(180deg); }
    main .container .wrapper .title {
      z-index: 1;
      position: relative;
      padding: 100px 0 0 0;
      text-align: center; }
      main .container .wrapper .title img {
        width: 65%; }
    main .container .wrapper .phone-area {
      padding: 0 0px;
      margin-bottom: -220px; }
      main .container .wrapper .phone-area .phone {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
        position: relative; }
        main .container .wrapper .phone-area .phone img.hand {
          z-index: 1;
          position: absolute; }
          main .container .wrapper .phone-area .phone img.hand.shake-crazy {
            -webkit-animation: shake-crazy 400ms linear infinite;
            animation: shake-crazy 400ms linear infinite; }
        main .container .wrapper .phone-area .phone img.hand_light {
          position: absolute;
          -webkit-animation: hand_light 15s linear infinite;
          animation: hand_light 15s linear infinite; }

@-webkit-keyframes hand_light {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes hand_light {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
    main .container .wrapper .people {
      position: relative;
      height: 150px; }
      main .container .wrapper .people img {
        max-width: 65%;
        height: auto;
        position: absolute;
        z-index: 2;
        -webkit-animation: jump 2s infinite;
        animation: jump 2s infinite; }
        main .container .wrapper .people img.girl {
          left: 0;
          top: -100%;
          -webkit-animation-delay: -1s;
          animation-delay: -1s; }
          @media (max-width: 375px) {
            main .container .wrapper .people img.girl {
              top: -80%; } }
          @media (max-width: 320px) {
            main .container .wrapper .people img.girl {
              top: -70%; } }
          @media (min-width: 640px) {
            main .container .wrapper .people img.girl {
              top: -180%; } }
        main .container .wrapper .people img.boy {
          right: 35px;
          top: -100%; }
          @media (max-width: 375px) {
            main .container .wrapper .people img.boy {
              top: -80%; } }
          @media (max-width: 320px) {
            main .container .wrapper .people img.boy {
              top: -70%; } }
          @media (min-width: 640px) {
            main .container .wrapper .people img.boy {
              top: -140%; } }
        main .container .wrapper .people img.coin {
          max-width: 100%;
          width: 100%;
          z-index: 1;
          -webkit-animation: none;
          animation: none;
          top: -10px; }
          @media (max-width: 375px) {
            main .container .wrapper .people img.coin {
              top: 0px; } }
          @media (max-width: 320px) {
            main .container .wrapper .people img.coin {
              top: 15px; } }
          @media (min-width: 640px) {
            main .container .wrapper .people img.coin {
              top: -92px; } }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  80% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  85% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  90% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  95% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  80% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  85% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  90% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  95% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
    main .container .wrapper .shake-btn {
      position: relative;
      text-align: center;
      /* margin-bottom: 40px; */
      z-index: 3; }
      @media (min-width: 640px) {
        main .container .wrapper .shake-btn {
          margin-bottom: 20px; } }
      main .container .wrapper .shake-btn button#shake {
        display: block;
        margin: 40px auto 10px auto;
        z-index: 1;
        cursor: pointer;
        position: relative;
        max-width: 250px;
        padding: 10px 20px;
        background-color: #ffc010;
        border-radius: 6px;
        border: none;
        -webkit-box-shadow: 0px 4px 0px 0px #9a6e00;
        box-shadow: 0px 4px 0px 0px #9a6e00;
        color: #541f1b;
        font-size: 1.6em;
        font-weight: bold;
        -webkit-animation: button 1s infinite;
        animation: button 1s infinite; }

@-webkit-keyframes button {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes button {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
      main .container .wrapper .shake-btn .ios13 {
        position: absolute;
        left: 50%;
        top: -180%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
        main .container .wrapper .shake-btn .ios13 p {
          color: #fff;
          font-size: 1.4em;
          white-space: nowrap; }
        main .container .wrapper .shake-btn .ios13 button {
          color: #ffc010;
          font-weight: bold;
          border: 2px solid #ffc010;
          background-color: #ffc010;
          -webkit-box-shadow: 0px 4px 0px 0px #9a6e00;
          box-shadow: 0px 4px 0px 0px #9a6e00;
          color: #541f1b;
          letter-spacing: 1px;
          border-radius: 5px;
          font-size: 1.4em;
          cursor: pointer;
          white-space: nowrap;
          padding: 5px 10px;
          margin-bottom: 4px; }
        main .container .wrapper .shake-btn .ios13 img {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 50%;
          top: -24px;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    main .container .wrapper .info {
      z-index: 1;
      position: relative;
      padding: 15px;
      margin: 0 15px 0px 15px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      border: 3px solid #ffc010; }
      main .container .wrapper .info .infoTitle {
        text-align: center; }
        main .container .wrapper .info .infoTitle h4 {
          margin-bottom: 15px;
          background-color: #ffc010;
          display: inline-block;
          color: #99040d;
          border-radius: 50px;
          font-size: 1.6em;
          font-weight: bold;
          padding: 4px 16px; }
      main .container .wrapper .info .prize {
        margin-bottom: 20px; }
        main .container .wrapper .info .prize .prizelist {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          text-align: center; }
          main .container .wrapper .info .prize .prizelist .item {
            padding: 5px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
            main .container .wrapper .info .prize .prizelist .item img {
              margin-bottom: 5px; }
            main .container .wrapper .info .prize .prizelist .item p {
              color: #fff;
              font-size: 1.4em;
              word-break: break-all;
              margin-bottom: 0; }
      main .container .wrapper .info .eventdate {
        text-align: center; }
      main .container .wrapper .info .eventdate, main .container .wrapper .info .eventnote {
        margin-bottom: 20px; }
        main .container .wrapper .info .eventdate p, main .container .wrapper .info .eventnote p {
          font-size: 1.4em;
          color: #fff;
          text-indent: -1.1em;
          margin-left: 1em; }
          @media (min-width: 768px) {
            main .container .wrapper .info .eventdate p, main .container .wrapper .info .eventnote p {
              font-size: 1.6em; } }
  main .container .bg {
    z-index: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 150px;
    -webkit-animation: bg 20s infinite linear;
    animation: bg 20s infinite linear; }

@-webkit-keyframes bg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

@keyframes bg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

footer {
  color: #521212;
  text-align: center;
  position: relative; }
  footer p {
    position: absolute;
    -webkit-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    transform: translateY(-18px);
    font-size: 13px;
    width: 100%;
    margin: 0; }

.color-sub {
  color: #e91e63 !important; }

.hide {
  display: none !important; }

.d-none {
  display: none !important; }

.blink {
  -webkit-animation: blink 0.7s linear;
  animation: blink 0.7s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btnGray {
  background-color: #999 !important;
  border: 1px solid #999 !important;
  pointer-events: none !important; }

.text-center {
  text-align: center; }

/*signboard*/
@-webkit-keyframes bounceInDownSign {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }
@keyframes bounceInDownSign {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

.bounceInDownSign {
  -webkit-animation-name: bounceInDownSign;
  animation-name: bounceInDownSign; }

@-webkit-keyframes bounceInPopup {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3); }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1); }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.03);
    transform: translate(-50%, -50%) scale(1.03); }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.97);
    transform: translate(-50%, -50%) scale(0.97); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@keyframes bounceInPopup {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3); }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1); }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.03);
    transform: translate(-50%, -50%) scale(1.03); }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.97);
    transform: translate(-50%, -50%) scale(0.97); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

.bounceInPopup {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceInPopup;
  animation-name: bounceInPopup; }

/*bounceInDownCong1*/
@-webkit-keyframes bounceInDownCong1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }
@keyframes bounceInDownCong1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

.bounceInDownCong1 {
  -webkit-animation-name: bounceInDownCong1;
  animation-name: bounceInDownCong1; }

@-webkit-keyframes bounceInUpCong2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 3000px) rotate(180deg);
    transform: translate(-50%, 3000px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -20px) rotate(180deg);
    transform: translate(-50%, -20px) rotate(180deg); }
  75% {
    -webkit-transform: translate(-50%, 10px) rotate(180deg);
    transform: translate(-50%, 10px) rotate(180deg); }
  90% {
    -webkit-transform: translate(-50%, -5px) rotate(180deg);
    transform: translate(-50%, -5px) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(180deg);
    transform: translate(-50%, 0) rotate(180deg); } }

@keyframes bounceInUpCong2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 3000px) rotate(180deg);
    transform: translate(-50%, 3000px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -20px) rotate(180deg);
    transform: translate(-50%, -20px) rotate(180deg); }
  75% {
    -webkit-transform: translate(-50%, 10px) rotate(180deg);
    transform: translate(-50%, 10px) rotate(180deg); }
  90% {
    -webkit-transform: translate(-50%, -5px) rotate(180deg);
    transform: translate(-50%, -5px) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(180deg);
    transform: translate(-50%, 0) rotate(180deg); } }

.bounceInUpCong2 {
  -webkit-animation-name: bounceInUpCong2;
  animation-name: bounceInUpCong2; }

@-webkit-keyframes shake-crazy {
  10% {
    -webkit-transform: translate(-6px, 4px) rotate(10deg);
    transform: translate(-6px, 4px) rotate(10deg); }
  20% {
    -webkit-transform: translate(17px, 1px) rotate(0deg);
    transform: translate(17px, 1px) rotate(0deg); }
  30% {
    -webkit-transform: translate(20px, 19px) rotate(-9deg);
    transform: translate(20px, 19px) rotate(-9deg); }
  40% {
    -webkit-transform: translate(15px, -1px) rotate(-3deg);
    transform: translate(15px, -1px) rotate(-3deg); }
  50% {
    -webkit-transform: translate(-5px, -12px) rotate(10deg);
    transform: translate(-5px, -12px) rotate(10deg); }
  60% {
    -webkit-transform: translate(7px, 8px) rotate(5deg);
    transform: translate(7px, 8px) rotate(5deg); }
  70% {
    -webkit-transform: translate(9px, 13px) rotate(-5deg);
    transform: translate(9px, 13px) rotate(-5deg); }
  80% {
    -webkit-transform: translate(20px, -18px) rotate(4deg);
    transform: translate(20px, -18px) rotate(4deg); }
  90% {
    -webkit-transform: translate(-3px, -18px) rotate(6deg);
    transform: translate(-3px, -18px) rotate(6deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }

@keyframes shake-crazy {
  10% {
    -webkit-transform: translate(-6px, 4px) rotate(10deg);
    transform: translate(-6px, 4px) rotate(10deg); }
  20% {
    -webkit-transform: translate(17px, 1px) rotate(0deg);
    transform: translate(17px, 1px) rotate(0deg); }
  30% {
    -webkit-transform: translate(20px, 19px) rotate(-9deg);
    transform: translate(20px, 19px) rotate(-9deg); }
  40% {
    -webkit-transform: translate(15px, -1px) rotate(-3deg);
    transform: translate(15px, -1px) rotate(-3deg); }
  50% {
    -webkit-transform: translate(-5px, -12px) rotate(10deg);
    transform: translate(-5px, -12px) rotate(10deg); }
  60% {
    -webkit-transform: translate(7px, 8px) rotate(5deg);
    transform: translate(7px, 8px) rotate(5deg); }
  70% {
    -webkit-transform: translate(9px, 13px) rotate(-5deg);
    transform: translate(9px, 13px) rotate(-5deg); }
  80% {
    -webkit-transform: translate(20px, -18px) rotate(4deg);
    transform: translate(20px, -18px) rotate(4deg); }
  90% {
    -webkit-transform: translate(-3px, -18px) rotate(6deg);
    transform: translate(-3px, -18px) rotate(6deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }

.drop {
  position: fixed;
  top: 0;
  z-index: 130;
  will-change: left, top, transform;
  -webkit-animation: dropRotate 1s linear infinite;
  animation: dropRotate 1s linear infinite; }

@-webkit-keyframes dropRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes dropRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
